# Configuration file

general {
    I:EntityBabySkeleton=1
    I:EntityBat=1
    I:EntityBlitz=1
    I:EntityButterfly=1
    I:EntityChicken=1
    I:EntityCow=1
    I:EntityCreeper=1
    I:EntityCustomNpc=1
    I:EntityEnderman=1

    # Set to 0 if you don't want that entclass to shine light when on fire
    I:EntityFishCod=1
    I:EntityFishPufferfish=1
    I:EntityFishSalmon=1
    I:EntityHorse=1
    I:EntityLargeFireball=1
    I:EntityMooshroom=1
    I:EntityPig=1
    I:EntityRabbit=1
    I:EntitySheep=1
    I:EntitySkeleton=1
    I:EntitySkeletonGun=1
    I:EntitySlime=1
    I:EntitySpider=1
    I:EntitySquid=1
    I:EntityStray=1
    I:EntityTippedArrow=1
    I:EntityWitch=1
    I:EntityWolf=1
    I:EntityZombie=1
    I:EntityZombieVillager=1
    I:"update Interval"=1000
}


