# Configuration file

general {
    I:BuilderEntity=0
    I:EntityAechorPlant=0
    I:EntityAerbunny=0
    I:EntityAerwhale=0
    I:EntityAreaEffectCloud=0
    I:EntityArmorStand=0
    I:EntityBabySkeleton=0
    I:EntityBalloon=0
    I:EntityBasalz=0
    I:EntityBat=0
    I:EntityBladderfish=0
    I:EntityBlaze=0
    I:EntityBlitz=0
    I:EntityBlitzBolt=0
    I:EntityBlizz=0
    I:EntityBlueSlime=0
    I:EntityBoat=0
    I:EntityBoomerang=0
    I:EntityButterfly=0
    I:EntityCargoContainer=0
    I:EntityCartBasic=0
    I:EntityCartChest=0
    I:EntityCartFurnace=0
    I:EntityCartTNT=0
    I:EntityCartTank=0
    I:EntityCaveSpider=0
    I:EntityChairMount=0
    I:EntityChaosGuardian=0
    I:EntityChaosImplosion=0
    I:EntityChargedQuartz=0
    I:EntityChicken=0
    I:EntityCockatrice=0
    I:EntityCow=0
    I:EntityCreeper=0
    I:EntityCustomNpc=0
    I:EntityDartGolden=0
    I:EntityDartPoison=0
    I:EntityDonkey=0
    I:EntityDragon=0
    I:EntityDragonHeart=0
    I:EntityDummy=0
    I:EntityEgg=0
    I:EntityElderGuardian=0
    I:EntityElevatorCapsule=0
    I:EntityEnderCrystal=0
    I:EntityEnderEye=0
    I:EntityEnderPearl=0
    I:EntityEnderman=0
    I:EntityEternalFlames=0
    I:EntityEvoker=0
    I:EntityFallingBlock=0
    I:EntityFallingTree=0
    I:EntityFeralGhoul=0
    I:EntityFireworkRocket=0
    I:EntityFishClownfish=0
    I:EntityFishCod=0
    I:EntityFishPufferfish=0
    I:EntityFishSalmon=0
    I:EntityFloatingBlock=0
    I:EntityFluidContainer=0
    I:EntityFlyingCow=0
    I:EntityGarryfish=0
    I:EntityGenericAsymmFemale=0
    I:EntityGenericMale=0
    I:EntityGhast=0
    I:EntityGrowingCrystal=0
    I:EntityGrue=0
    I:EntityGuardian=0
    I:EntityGuardianCrystal=0
    I:EntityHashalaq=0
    I:EntityHeavenArrow=0
    I:EntityHeavenSubArrow=0
    I:EntityHolefish=0
    I:EntityHopperCart=0
    I:EntityHorse=0
    I:EntityHusk=0
    I:EntityIronGolem=0
    I:EntityItem=0
    I:EntityItemBook=0
    I:EntityItemFrame=0
    I:EntityLargeFireball=0
    I:EntityLlama=0
    I:EntityLocomotiveCreative=0
    I:EntityLogCart=0
    I:EntityMagmaCube=0
    I:EntityMinecartModular=0
    I:EntityMoa=0
    I:EntityMobLich=0
    I:EntityMobSpectreChain=0
    I:EntityMobWraith=0
    I:EntityMooshroom=0
    I:EntityMorb=0
    I:EntityNovaCataclysmPrimed=0
    I:EntityObsidianTNT=0
    I:EntityOcelot=0
    I:EntityOtherPlayerMP=0
    I:EntityPainting=0
    I:EntityParrot=0
    I:EntityPeeper=0
    I:EntityPersistentItem=0
    I:EntityPhyg=0
    I:EntityPig=0
    I:EntityPigZombie=0
    I:EntityPinkSlime=0
    I:EntityPlayerSP=0
    I:EntityPolarBear=0
    I:EntityPollutant=0
    I:EntityPotion=0
    I:EntityProjectile=0
    I:EntityProminence=0
    I:EntityRabbit=0
    I:EntityRaft=0
    I:EntityRock=0
    I:EntityRocket=0
    I:EntitySeamoth=0
    I:EntityShadow=0
    I:EntitySheep=0
    I:EntitySheepuff=0
    I:EntitySingularity=0
    I:EntitySkeleton=0
    I:EntitySkeletonGun=0
    I:EntitySkeletonHorse=0
    I:EntitySlider=0
    I:EntitySlime=0
    I:EntitySnowball=0
    I:EntitySnowman=0
    I:EntitySpear=0
    I:EntitySpectralArrow=0
    I:EntitySpeedboat=0
    I:EntitySpider=0
    I:EntitySquid=0
    I:EntityStationDeployedRocket=0
    I:EntitySteamLocomotive=0
    I:EntityStray=0
    I:EntitySunSpirit=0
    I:EntitySwet=0
    I:EntityTNTPrimed=0
    I:EntityTinyTNTPrimed=0
    I:EntityTippedArrow=0
    I:EntityUIButton=0
    I:EntityUIPlanet=0
    I:EntityUIStar=0
    I:EntityValkyrieQueen=0
    I:EntityVehicleG_Car=0
    I:EntityVehicleG_Plane=0
    I:EntityVillager=0
    I:EntityVindicator=0
    I:EntityVoidParrot=0
    I:EntityVoidicDragon=0
    I:EntityWallDecoration=0
    I:EntityWeepingAngel=0
    I:EntityWhirlwind=0
    I:EntityWitch=0
    I:EntityWitherSkeleton=0
    I:EntityWolf=0
    I:EntityXPOrb=0
    I:EntityZephyr=0
    I:EntityZombie=0
    I:EntityZombieVillager=0
    I:IndestructibleEntityItem=0
    I:ModdedEntity=0
    I:NetherCreeper=0
    I:NetherSpider=0
    I:NetherZombie=0
    I:PollutantFreeAir=0
    I:ProjectileDisintegration=0
    I:SeatEntity=0
    I:"update Interval"=1000
}


