# Configuration file

##########################################################################################################
# -BindingOptions-
#--------------------------------------------------------------------------------------------------------#
# List of valid binding options that can be combined with Controller events
##########################################################################################################

-BindingOptions- {
    S:CATEGORY_GAMEPLAY= Gameplay category in menu
    S:CATEGORY_INVENTORY= Inventory category in menu
    S:CATEGORY_MISC= Misc category in menu
    S:CATEGORY_MOVEMENT= Shows up in Movement category in menu
    S:CATEGORY_MULTIPLAYER= Multiplayer category in menu
    S:CATEGORY_UI= Shows up in UI category in menu
    S:CLIENT_TICK= Send the trigger during client tick
    S:GAME_BINDING= Will trigger during game play
    S:IS_TOGGLE= Pressing button once will toggle on / off
    S:MENU_BINDING= Will trigger in menu screens
    S:RENDER_TICK= Send the trigger during render tick
    S:REPEAT_IF_HELD= Continues to trigger if held down
}


-ControllerNameMap- {

    "XInput Device" {
        S:A=A
        S:B=B
        S:BACK=BACK
        S:"Button 0"=A
        S:"Button 1"=B
        S:"Button 2"=X
        S:"Button 3"=Y
        S:"Button 4"=LB
        S:"Button 5"=RB
        S:"Button 6"=BACK
        S:"Button 7"=START
        S:"Button 8"=LS
        S:"Button 9"=RS
        S:DPAD_DOWN=DPAD_DOWN
        S:DPAD_LEFT=DPAD_LEFT
        S:DPAD_RIGHT=DPAD_RIGHT
        S:DPAD_UP=DPAD_UP
        S:GUIDE_BUTTON=GUIDE_BUTTON
        S:LEFT_SHOULDER=LEFT_SHOULDER
        S:"LEFT_THUM X"=LEFT_THUM X
        S:"LEFT_THUM X +"=LEFT_THUM X +
        S:"LEFT_THUM X -"=LEFT_THUM X -
        S:"LEFT_THUM Y"=LEFT_THUM Y
        S:"LEFT_THUM Y +"=LEFT_THUM Y +
        S:"LEFT_THUM Y -"=LEFT_THUM Y -
        S:LEFT_THUMBSTICK=LEFT_THUMBSTICK
        S:"LEFT_TRIG R"=LEFT_TRIG R
        S:"LEFT_TRIG R +"=LEFT_TRIG R +
        S:"POV X"=Dpad horizontal
        S:"POV X +"=Dpad right
        S:"POV X -"=Dpad left
        S:"POV Y"=Dpad vertical
        S:"POV Y +"=Dpad down
        S:"POV Y -"=Dpad up
        S:RIGHT_SHOULDER=RIGHT_SHOULDER
        S:"RIGHT_THU X"=RIGHT_THU X
        S:"RIGHT_THU X +"=RIGHT_THU X +
        S:"RIGHT_THU X -"=RIGHT_THU X -
        S:"RIGHT_THU Y"=RIGHT_THU Y
        S:"RIGHT_THU Y +"=RIGHT_THU Y +
        S:"RIGHT_THU Y -"=RIGHT_THU Y -
        S:RIGHT_THUMBSTICK=RIGHT_THUMBSTICK
        S:"RIGHT_TRI R"=RIGHT_TRI R
        S:"RIGHT_TRI R +"=RIGHT_TRI R +
        S:"RIGHT_TRI R -"=RIGHT_TRI R -
        S:START=START
        S:X=X
        S:"X Axis"=Left stick horizontal
        S:"X Axis +"=LS Right
        S:"X Axis -"=LS Left
        S:"X Rotation"=Right stick horizontal
        S:"X Rotation +"=RS right
        S:"X Rotation -"=RS left
        S:Y=Y
        S:"Y Axis"=Left stick vertical
        S:"Y Axis +"=LS Down
        S:"Y Axis -"=LS Up
        S:"Y Rotation"=Right stick vertical
        S:"Y Rotation +"=RS down
        S:"Y Rotation -"=RS up
        S:"Z Axis"=Triggers
        S:"Z Axis +"=LT
        S:"Z Axis -"=RT
    }

}


-Deadzones- {

    "XInput Device" {
    }

}


##########################################################################################################
# -Global-
#--------------------------------------------------------------------------------------------------------#
# GrabMouse = will grab mouse when in game (generally not good for splitscreen)
# LoggingLevel = 0-4 levels of logging ranging from next to none to very verbose. 1 recommended unless debugging.
# SharedProfile = Will share joypad settings across all users except for invert
##########################################################################################################

-Global- {
    S:GrabMouse=false
    I:LoggingLevel=1
    S:SharedProfile=false
    S:displayAllControls=false
}


-SingleDirectionAxis- {
    S:"XInput Device"=false
}


-UserBindings- {
}


Joypad-austinsupercar {
    S:ConfigVersion=0.22
    S:CustomReticle=joypadmod:textures/reticle.png,16,16,16,16
    B:DisplayHints=true
    I:GameSensitivity=40
    I:GuiSensitivity=10
    B:InvertY=false
    S:JoyName=
    S:JoyNo=-1
    B:LegacyInput=false

    "XInput Device" {
        S:ConfigVersion=0.22

        joy {

            menu {
                S:joy.menu=Open menu,{50},BUTTON,5,1.0,0.0,MENU_BINDING,GAME_BINDING,CATEGORY_MISC
            }

            attack {
                S:joy.attack=Attack,{-100},AXIS,5,0.7,0.2,GAME_BINDING,REPEAT_IF_HELD,CATEGORY_GAMEPLAY
            }

            inventory {
                S:joy.inventory=Open inventory,{46},BUTTON,3,1.0,0.0,GAME_BINDING,CATEGORY_INVENTORY
            }

        }

    }

}


Joypad-toucantheman1 {
    S:ConfigVersion=0.22
    S:CustomReticle=joypadmod:textures/reticle.png,16,16,16,16
    B:DisplayHints=true
    I:GameSensitivity=40
    I:GuiSensitivity=10
    B:InvertY=false
    S:JoyName=
    I:JoyNo=-1
    B:LegacyInput=false
}


